  <div class="navbar">

  <!-- Logo -->
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right">


    <!-- Button (call-to-action) -->
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn-medium" %>

  </div>


</div>
