

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url(<%= cl_image_path('http://res.cloudinary.com/dqjegx4yx/image/upload/c_fill,h_500,w_500/yf5lx4xtb7jil3tr2eig.jpg', crop: :pad) %>)">
  <div class="banner-content">
    <h1 class="padded">The Best Kept Secret Cocktail Recipes</h1>
    <%= link_to "OPEN COCKTAIL BOOK", cocktails_path, class: "btn-medium padded" %>
  </div>
</div>
