.btn-medium {
  color: white;
  border: 1px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-medium:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.btn-colored {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 30em;
  line-height: 40px;
  color: $grey;
  font-size: 14px;

  &-red {
    background-color: $red;
    border: 2px solid $red;
  }

  &-red:hover {
    opacity: 0.8;
  }

  &-pink {
    background-color: $pink;
    border: 2px solid $pink;
  }

  &-pink:hover {
    opacity: 0.8;
  }
}
